body {
    background-color: white;
}

h1 {
    font-family: 'Verdana';
    font-size: 50px;
    padding: 15px;
}

h2 {
    font-family: 'Verdana';
    font-size: 25px;
    padding: 10px;
}

p {
    font-family: 'Consolas';
    font-size: 25px;
    padding: 5px;
}

.LandingPage {
    font-family: Verdana;
    color: gray;
    text-align: center;
}

.Questions {
    color: gray;
    text-align: center;
}

.Questions > * {
    margin-bottom: 50vh;
}

.slider {
    width: 35%;
    -webkit-appearance: none;
    background-image: url('src/gradient.png');
    background-size: cover;
    opacity: 0.5;
    margin-bottom: 200px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 3px solid black;
}

.submit {
    border: none;
    text-align: center;
    font-family: Verdana;
    font-size: 25px;
    background-color: rgb(88, 255, 171);
    opacity: 0.75;
    width: 200px;
    height: 75px;
    margin-bottom: 100px;
    cursor: pointer;
}
